.custom-day {      
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    font-size: 12px;
}

.custom-day.bg-primary, .custom-day.bg-primary:hover, .custom-day:hover {
    background-color: #40dc7e !important;
    color: white !important;
    border-radius: 50%;
}

.custom-day.bg-grey {
    background-color: #f2f2f2;
    color: white;
    border-radius: 0 !important;
    border-top: 2px solid white;
}

.custom-day.bg-grey:hover {
    border-radius: 0 !important;
    background-color: #40dc7e !important;
    border-bottom: 2px solid #40dc7e;
    color: white;
}