/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';


/**
    Ng Bootstrap Custom style for Datepicker
*/

ngb-datepicker {
  border-radius: 0 !important;
}
.ngb-dp-months {
    display: flex !important;
    flex-wrap: wrap !important;
}
.ngb-dp-month {
    flex: 1;
}
/**
  DatePicker custom style
*/
.bg-light {
    background-color: white !important;
}

.ngb-dp-navigation-select {
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
    flex: 1;
    select {
      padding-top: 0.5rem !important;
      padding-bottom: 0.5rem !important;
      padding-left: 0.5rem !important;
      padding-right: 2rem !important;
      line-height: 1.25 !important;
      width: auto !important;
      border: none !important;
      color: #8F8F8F !important;
      -webkit-appearance: none !important;
    }
    select::-ms-expand {
      display: none !important;
    }
  }
  .ngb-dp-month {
    width: 100%;
  }
  .ngb-dp-day {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ngb-dp-header {
    display: flex;
    justify-content: flex-end;
    position: relative;
  }
  .ngb-dp-arrow-btn {
    width: 2rem !important;
    height: 2rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50% !important;
    padding: 0 !important;
  }
  span.ngb-dp-navigation-chevron {
    color: #8F8F8F !important;
  }
  .ngb-dp-arrow-btn:hover {
    background-color: #f2f2f2;
  
  }
  .ngb-dp-day, .ngb-dp-weekday, .ngb-dp-week-number {
    min-width: 2rem !important;
    min-height: 2rem !important;
  }
  .ngb-dp-weekday[_ngcontent-c20] {
    color: #555555 !important;
  }
  .ngb-dp-month:first-child .ngb-dp-week {
    padding-left: .25rem !important;
  }
  .ngb-dp-month:last-child .ngb-dp-week {
     padding-right: .25rem !important; 
  }
  
  .ngb-dp-header {
    background-color: white !important;
  }
  
  .ngb-dp-weekdays {
    background-color: white !important;
    width: 100%;
  }
  .ngb-dp-weekday {
    flex: 1;
  }
  
  .ngb-dp-arrow-btn {
    color: #555555 !important;
    cursor: pointer !important;
  }
